<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8">
        <title>CHEATS </title>
       
        <link <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
 </head>
 
    <div id="Name">
        
    
        <h2 style = "text-align: center; background-color:white;color: black; font-size: small" </h2>
           
            <ul>
                <nav style = 'border-color: green; border-style: solid; border-radius:1px'class="navbar navbar-expand-lg navbar-light bg-light">
  <a style = 'color: green' class="navbar-brand" href="#">CHEATS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a style = 'color: blue'class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style = 'color:red'class="nav-link" href="https://5000-cb1722fc-b625-447a-8dc0-2c67df14e642.cs-us-east1-pkhd.cloudshell.dev/order">ORDER</a>
      </li>
      <li class="nav-item">
        <a style = 'color: orange'class="nav-link" href="https://forms.gle/yf1UzsYw5zXFBGqs5">Please Fill out this Survey about this Service</a>
      </li>
      <li class="nav-item">
        <a style = 'color:purple'class="nav-link" href="https://5000-cb1722fc-b625-447a-8dc0-2c67df14e642.cs-us-east1-pkhd.cloudshell.dev/bag">View Bag</a>
      </li>
       <li class="nav-item">
        <a style = 'color: teal'class="nav-link" href="https://5000-cb1722fc-b625-447a-8dc0-2c67df14e642.cs-us-east1-pkhd.cloudshell.dev/sign">Sign up/ Login</a>
      </li>
    </ul>
  </div>
</nav>



<img src = 'static/images/H-Cheats.png'>
<h1 style = 'color:green; text-align: centet'> Welcome to Cheap Healthy EATS !</h1> 


<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="static/images/carrotdish.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 style = 'color: red'class="card-title">CARROTS 50% OFF</h5>
      <p class="card-text"></p>
      <a href="https://www.bonappetit.com/recipes/slideshow/carrot-recipes" class="btn btn-primary"> Recipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/images/broc.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 style = 'color:red'class="card-title">Broccoli 50% off!</h5>
      <a href="https://www.acouplecooks.com/tasty-broccoli-recipes/" class="btn btn-primary"> Recipes</a>
      
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" style = 'height: 699px'src="static/images/brussel.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 style = 'color: red'class="card-title">Brussel Sprouts 50% off!</h5>
      <p class="card-text"> </p>
      <a href="https://www.wellplated.com/sauteed-brussels-sprouts/" class="btn btn-primary"> Recipes</a>
    </div>
  </div>
</div>

</div>

<div class="card bg-dark text-white">
  <img style = 'width:1425px; height :1000px'src="static/images/background.jpeg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 style = 'text-align: center' class="card-title">About us</h1>
    <h1 style = 'text-align: center'class="card-text">We are CHEATS! A business offering healthier food options, for cheaper prices, to low income communities</h1>
    <h1 style = 'text-align: center'class="card-text"> Making healthier food options accessible to everyone is our mission</h1>
  </div>
</div>


<div style ='margin-left: 40%; margin-right :50%; width: 300px;height: 300px'id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>


                
        
        

            



    

 


   










</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
